.homeContainer{ 
    padding: 10px 50px 0px 50px;
    padding-top: 10px;
   
}

.text {
    color: black;
    font-size: 20px;
  }
.logout {
    text-decoration: none ;
    margin-left: 15px;
}
a.logout:hover{
    opacity: 0.5;
}

.titleTable {
    font-size: 20px;
    font-weight: bold;
    color: black;
}
  