.table{
    border-width: 2px 2px 0px 2px;
    border-style: solid;
  
    margin-top: 10px;
    border-radius: 5px;
    border-color: #CFCDCD;
}

.column {
    border-width: 0px 2px 0px 2px;
    border-style: solid;
    border-color: #CFCDCD;
  
}

.headerTable{
    background-color: #EBE7E7;
    height: 70px;
    border-color: #CFCDCD;
    border-width: 0px 0px 2px 0px;
    border-style: solid;

}

.headerTableTitle{
    color: black;
    font-size: 18px;
    font-weight: 600;
}